---
- name: Pull node-exporter on all VMs
  hosts: all
  gather_facts: yes
  roles:
    - role: containers/login/filip
    - role: containers/images/pull
      images_to_pull:
        - manufacturer: "prom"
          image_name: "node-exporter"
          tag: "latest"

- name: Pull images to app-01
  hosts: application
  gather_facts: yes
  roles:
    - role: containers/login/filip
    - role: containers/images/pull
      images_to_pull:
        - image_name: nginx
          tag: "1.29.4"

        - image_name: postgres
          tag: latest

- name: Pull images to metrics-01
  hosts: monitoring
  gather_facts: yes
  roles:
    - role: containers/login/filip
    - role: containers/images/pull
      images_to_pull:
        - manufacturer: prom
          image_name: prometheus
          tag: main

        - image_name: grafana
          tag: "alpine-3.22.2"
